# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.env
.venv/
venv/
ENV/
*.db
*.sqlite3

# Node / Next.js
node_modules/
.next/
out/
build/
dist/
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Arduino / Firmware secrets
firmware/**/secrets.h
